checkpoints
build
dist
*.egg-info

# Pytorch Models
*.pth
*.pt

# images
*.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
CIFAR10/**
.DS_Store
.python-version

MNIST/**
testlogs/**
maincopy.py
swa_testing/**
